<Layouts.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <p class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      Welcome to Boiler!
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Your Phoenix application is up and running. You can start building your app from here.
    </p>
  </div>
</div>
